---
interface Props {
  title: string;
  location: string;
  conference: string;
  date: string;
}

const { title, location, conference, date } = Astro.props;
---

<div class="award">
  <div class="award-row">
    <strong class="award-title">{title}</strong>
    <span class="location">{location}</span>
  </div>
  <div class="award-row">
    <em class="conference">{conference}</em>
    <em class="date">{date}</em>
  </div>
</div>

<style>
  .award {
    margin-bottom: 1.2em;
  }

  .award-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.2em;
  }

  .award-title {
    font-weight: bold;
  }

  .location {
    margin-left: auto;
    white-space: nowrap;
  }

  .conference {
    font-style: italic;
    flex: 1;
  }

  .date {
    font-style: italic;
    margin-left: auto;
    white-space: nowrap;
  }

  @media (max-width: 768px) {
    .award-row {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .location, .date {
      margin-left: 0;
      margin-top: 0.1em;
    }
  }
</style>
