@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@layer utilities {
  .unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

.site-title {
  transition: opacity 0.2s;
}
.site-title:hover {
  opacity: 0.66;
}

/* hide title (since only 1-level deep */
.pagefind-ui__result-nested > .pagefind-ui__result-title {
  font-size: 0 !important;
}

/* Hero.astro */
.hero {
  padding-block: unset;
}

.tagline > a {
  color: var(--sl-color-text-accent);
}

.tagline > a:hover:not(:where(.not-content *)) {
  color: var(--sl-color-white);
}

.stack {
  text-align: left;
}

.copy > * {
  max-width: 67ch;
}

.carousel * {
  /* remove extra margin from .sl-markdown-content */
  margin-top: 0 !important;
}

@media (min-width: 50rem) {
  .hero {
    grid-template-columns: 9fr 4fr;
  }
}

@layer components {
  .person-grid > .card-grid {
    --min-column-width: 200px;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--min-column-width), 1fr)
    );
  }

  .person-grid > .card-grid > * {
    width: var(--min-column-width);
    min-height: 300px;
    margin: 0 auto;
  }

  .person-grid-alumni .icon {
    --sl-icon-size: 0;
  }

  @media (min-width: 50rem) {
    .person-grid > .card-grid {
      gap: 1.5rem 1rem;
    }

    .person-grid-alumni > .card-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
